*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none; display: block;}


.inner{display: flex; justify-content: space-between; align-items: center; margin: 25px 35px;}
.inner .logo a{color: #111;}
.list{display: flex;}
.list .menu{margin: 0 20px; color: #aaa8a8; font-family: 'Roboto Condensed', sans-serif;}

.section_1{width: 80%; margin-right: 20px; }
.section_1_1{height: 581px; background-image: url(../img/main.jpg); margin-bottom: 20px; align-items: center; position: relative;}
.icon{position: absolute; bottom: 40px; left: 380px;}
.icon > div {margin: 0 20px;}
.finance_item{width: 600px;}
.finance_item > span{background-color: rgb(250, 47, 47); padding: 10px 30px; position: absolute; top: 130px; left: 410px;}
.finance_item > span,div,h2{text-align: center; color: #eee;}
.finance_item >div:first-child{margin-bottom: 45px;}
.finance_item >div:last-child{margin-top: 20px; width: 75%; margin-left: 65px;}
.main_contents{display: flex; justify-content: space-between; height: 100%; align-items: center;}

.section_1_2{height: 581px; display: flex;}
.section_1_2_1{width: 30%; background-color: #e01c1c; margin-right: 20px;}
.section_1_2_2{width: 70%;}
.section_1_2_2_1{height: 50%; background-color: blue;}
.section_1_2_2_2{height: 50%; display: flex; margin-top: 20px;}
.squ_box1{width: 50%; background-color: bisque; margin-right: 20px;}
.squ_box2{width: 50%; background-color: #aaa8a8;}

.section_2{width: 20%;} 
.section_2_1{height: 274px; margin-bottom: 25px; background-color: #aaa8a8;}
.section_2_2{height: 581px; margin-bottom: 25px; background-color: yellow;}
.section_2_3{height: 274px; background-color: teal;}

footer{background-color: #111; width: 100%; height: 150px; margin-top: 150px;}
footer li{text-align: left;}
.footer_logo{margin-top: 40px;}
.footer_logo >li:first-child{margin-bottom: 9px;}
.footer_menu{margin-top: 50px; font-family: 'Roboto Condensed', sans-serif;}
.footer_menu > ul {display: flex;}
.footer_menu > ul:first-child {margin-bottom: 13px;}
.footer_menu > ul:first-child > li {margin-right: 100px;}
.footer_menu > ul:last-child > li{margin-right: 160px;}
.footer_menu > ul:last-child > li:nth-child(3){margin-left: -30px;}

.sns{display: flex;  font-size: 20px; color: #918f8f; margin-top: 25px;} 
.sns > li {margin: 10px;}
input{height: 30px; width: 190px; border: none; padding-left: 15px;}
button{background-color: rgb(244, 70, 70); color: white; height: 30px;border: none; font-size: 12px; width: 120px;}